/* Take a look at right margin of this section - it appears as if there's a small margin */

.weekly-watchlist-section {
    overflow: scroll;
    max-width: 100%;
    max-height: 100%;
}

/* Note that you should NOT justify-content: center a horizontally scrolling section. It will clip off to the left */
.weekday-anime-list {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.watchlist-title h3{
    color: #F26B83;
    font-size: 2.25rem;
    margin: .5rem 0;
    text-align: center;
        /* -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white; */
    text-shadow: 0 0 5px #b61c38b9;

}

.weekday {
    background: rgba(39, 39, 39, 0.5);
    backdrop-filter: blur(12px);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

.weekday h3 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.weekday h4 {
    margin: 0;
    padding: 0;
}

.weekday h4:hover {
    cursor: pointer;
}

.weekday-titlecard {
    width: fit-content;
}


/* Simple way to center weekday-anime-list without using justify content */
.weekday-titlecard:first-child {
    margin-left: auto;
}

.weekday-titlecard:last-child {
    margin-right: auto;
}
