.nav-bar {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 3rem;
    
    position: fixed;
    top: 0;
    right: 0;

    background: rgba(39, 39, 39, 0.25);
    backdrop-filter: blur(12px);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anirate:hover {
    cursor:pointer;
}

.anirate h1 {
    padding-left: 1rem;
    color: #F26B83;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    text-shadow: 0 0 5px #f26b84d3;
}



.nav-btns {
  padding-right: 7rem;
}

.nav-btns ul {
  display: flex;
}

.nav-btns li  {
  color: #F26B83;
  list-style: none;
  padding-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-btns li:hover {
    text-shadow: 0 0 5px #f26b84d3;
    scale: 1.1;
    cursor: pointer;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

.nav-icons {
  position: fixed;
  top: 2.5rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  gap: .25rem;
  padding: .5rem;
  z-index: 1001;
  cursor: pointer;
}

.nav-icons:hover {
  outline: 2px solid #F26B83;
  border-radius: 1rem;
}



.profile-icon {
    width: 2rem;
    height: auto;
}

.login-btns {
    position: fixed;
    top: 6rem;
    right: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: rgba(8, 8, 8, 0.45);
    backdrop-filter: blur(12px);

    padding: 2rem;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.2);

        /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.login-btn {
    background: rgba(39, 39, 39, 0.15);
    backdrop-filter: blur(12px);
    
    color: white;
    box-shadow: 0 .5rem 2rem rgba(139, 136, 136, 0.2);

     /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.login-btn:hover {
    
    border: 2px solid #F26B83;
}


@media only screen and (max-width: 58rem) {
    .anirate h1 {
      font-size: 2.75rem;
    }

    .nav-icons {
     
      top: 1.75rem;
      right: 1rem;
    }

    .menu-icon {
      width: 3rem;
     
    }

    .nav-btns {
        display: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }


    .nav-btns {
        padding: 0;
        margin: 0;
        
    }

    .nav-btns ul {
        display: block;
        margin: 0;
        padding:0 0 1rem 0;
    }

    .nav-btns li  {
        color: #F26B83;
        list-style: none;
        padding-right: 2rem;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;

        border-radius: 1rem;

        background: rgba(8, 8, 8, 0.45);
        backdrop-filter: blur(12px);

        padding: .5rem 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.2);

            /* fallback for old browsers */
        -webkit-backdrop-filter: blur(60px);
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
      
        
    }

    .login-btns {
        top: 6.5rem;
        right: 0rem;
    }
    
} 