
.animenews-section h3 {
    color: #F26B83;
    font-size: 2.25rem;
    margin: .5rem 0;
    text-align: center;
        /* -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white; */
    text-shadow: 0 0 5px #b61c38b9;
}

.animenews-list {
    display: flex;
    justify-content: space-around;
}

.animenews {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}


.animenews h4 {
    text-align: center;
    margin-top: 0;
}

.animenews a {
    color: white;
}

.animenews a:hover {
    color: #F26B83;
}


